.scl--login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    z-index: 10;
}

.scl--login-page img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.scl--login-page .scl--login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*width: 1223px;*/
    width: 1070px;
    /*height: 402px;*/
    height: 374px;
    /*padding: 45px;*/
    padding: 0;
    background: rgba(11, 17, 19, 0.6);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/*White Mode*/

.dark .scl--login-page .scl--login-form {
    background: rgba(217, 217, 217, 0.5);
}

/* Login Form */

.scl--login-page .scl--login-form .scl--login-form-background {
    /*width: 1135px;*/
    width: 1011px;
    height: 280px;
    border-radius: 12px;
    border: 1px solid #3B3B3B;
    background-color: #171717;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.dark .scl--login-page .scl--login-form .scl--login-form-background {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(215, 217, 218, 1);
}

.scl--login-page .scl--login-form .scl--login-form-background-otp {
    height: 293px;
}

.scl--login-form-background p {
    /* position: absolute; */
}

/* Login Form Logo */
.scl--login-form-logo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 45px;
}

.scl--login-form-logo img {
    width: 64px;
    height: 60px;
    object-fit: contain;
}

.scl--login-form-logo p {
    font-size: 14px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    font-weight: 400;
}

.dark .scl--login-form-logo p {
    color: rgba(23, 23, 23, 0.8);

}

/* Login Form Field */

.scl--login-form-field {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    padding: 45px 45px 45px 0;
    /*gap: 26px;*/
}

.scl--login-form-field-otp {
    padding: 0;
    /*padding-left: 45px;*/
    padding-bottom: 45px;
    padding-top: 45px;
}

.scl--login-form-field-title h2 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
}

.dark .scl--login-form-field-title h2 {
    color: #171717CC;
}

.scl--login-form-field-title p {
    font-size: 14px;
    line-height: 160%;
    color: #ffffff;
    font-weight: 400;
    opacity: 0.8;
}

.dark .scl--login-form-field-title p {
    color: #171717CC;
}

.scl--login-form-field-title {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    gap: 12px;
}

.scl--login-form-field-otp-title-width {
    /*height: 30%;*/
}

.scl--login-form-field-input {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.scl--login-form-field-otp-input {
    height: 60%;
}

.scl--login-error {
    visibility: visible;
    margin-top: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fb8e88;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
}

.scl--login-error.visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.scl--login-full-form {
    width: 100%;
    /*height: 61px;*/
    height: 55px;
    display: flex;
    border: 2px solid #ffffff;
    outline-offset: 5px;
    border-radius: 5px;
}

.dark .scl--login-full-form {
    background: #FFFFFF;
    border: 2px solid #5ea4e6;
}

.scl--login-full-form:hover {
    border: 2px solid #5ea4e6;
}

.scl--login-full-form:focus-within {
    border: 1px solid #bdbcbc;
    outline: 2px solid #0562bb;
    outline-offset: 3px;
}

.scl--login-full-form button svg {
    width: 33px;
    height: 29px;
    border: 2px;
    color: rgba(203, 201, 201, 1);
}

.dark .scl--login-full-form button svg {

}

.scl--login-error-border {
    border: 2px solid #fb8e88;
    cursor: not-allowed;
}

.scl--login-error-border:hover {
    border: 2px solid #fb8e88;
}

.scl--login-error-border:focus-within {
    border: 1px solid #bdbcbc;
    outline: 2px solid #fb8e88;
}

.scl--login-error-border button:hover {
    background: #a49d9d;
}


.scl--locked button {
    background: linear-gradient(0deg, rgba(164, 157, 157, 0.1), rgba(164, 157, 157, 0.1)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) !important;
}

.scl--btn-active {
    background-color: #286bee !important;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.scl--btn-active:hover {
    background-color: #180bd0 !important;
}

.scl--login-full-border {
    border: 2px solid rgba(94, 164, 230, 1);
}

/* Shared styles for both text and password input types */
.scl--login-full-form input[type="text"],
.scl--login-full-form input[type="password"] {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 18px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    caret-color: #1D61E7;
}

.dark .scl--login-full-form input[type="text"],
.dark .scl--login-full-form input[type="password"] {
    color: #17171799;
    /*caret-color: #1D61E7;*/
}

.scl--login-full-form input[type="text"]:focus-within,
.scl--login-full-form input[type="password"]:focus-within {
    outline: none;
}

.scl--login-full-form input[type="text"]::placeholder,
.scl--login-full-form input[type="password"]::placeholder {
    color: #ffffff;
}

/*White Mode*/
.dark .scl--login-full-form input[type="text"]::placeholder,
.scl--login-full-form input[type="password"]::placeholder {
    color: #9B989899;
}

.scl--login-full-form input[type="text"]:focus::placeholder,
.scl--login-full-form input[type="password"]:focus::placeholder {
    color: #ffffff;
}

.svg-login-btn {
    color: red;
}

.scl--login-full-form button {
    height: 100%;
    padding: 10px 15px 10px 15px;
    border-radius: 0 2px 2px 0;
    background-color: #282828;
    /*color: #cbc9c9;*/
    text-align: center;
    border: none;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}


.dark .scl--login-full-form button {
    background: linear-gradient(0deg, rgba(164, 157, 157, 0.1), rgba(164, 157, 157, 0.1)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.scl--login-full-form button:hover {
    cursor: pointer;
}

.scl--locked {
    pointer-events: none;
    opacity: 0.6;
    filter: grayscale(50%);
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FB8E88;
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.dark .scl--locked {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FB8E88;
    border-radius: 5px;
}

.scl--otp-locked input[type="text"] {
    pointer-events: none;
    opacity: 0.6;
    filter: grayscale(20%);
    background: rgba(255, 255, 255, 0.2);
}

.dark .scl--otp-locked input[type="text"] {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FB8E88 !important;
    border-radius: 5px;
}

.scl--login-full-form-icon {
    font-size: 18px;
}

.scl--login-fn {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    margin: 2px;
    gap: 2px;
}

.scl--lock-button button {
    background: rgba(164, 157, 157, 0.1) !important;
}

.scl--lock-button button:hover {
    background: rgba(164, 157, 157, 0.1) !important;
    cursor: not-allowed;
}

.scl--login-fn:hover {
    opacity: 1;
    /*background: rgba(252, 245, 231, 0.4);*/
}

.scl--login-full-form input:hover ~ .scl--login-fn {
    opacity: 1;
}

.scl--login-fn .scl--login-copy {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    color: rgba(197, 196, 193, 1);
    padding: 0px 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    border-radius: 2px;
}

.scl--login-fn .scl--login-copy span {
    font-weight: 400;
    font-size: 10px;
    line-height: 16.8px;
    letter-spacing: 0;
}

.scl--login-fn .scl--login-copy:hover {
    background: rgba(252, 245, 231, 0.4);
    color: black;
}

.scl--login-fn .scl--login-retype {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(197, 196, 193, 1);
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 2px;
}

.scl--login-fn .scl--login-retype:hover {
    background: rgba(252, 245, 231, 0.4);
    color: black;
}

/* Verify Profile */

.scl--login-account-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.scl--login-verify-name {
    display: flex;
    align-items: center;
    gap: 2px;
}

.scl--login-verify-name span {
    color: #ffffffcc;
    opacity: 0.8;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0;
}

.dark .scl--login-verify-name span {
    color: #171717CC;
}

.scl--login-verify-name svg {
    width: 11.52px;
    height: 11px;
    color: #1a77f2;
}

.scl--login-verify {
    width: 131px;
    height: 43px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    padding: 4px 6px 4px 6px;
    border-radius: 90px;
    border: 1px solid #ffffff;
}

.dark .scl--login-verify {
    background: #FFFFFF;
    border: 1px solid #17171799
}

.scl--login-verify-profile {
    width: 32px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
}

.scl--login-verify span {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
}

.dark .scl--login-verify span {
    color: #171717;
}

.scl--login-verify-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 0;
    border-radius: 50%;
}

.scl--login-verify:hover {
    color: white;
    background-color: transparent;
    border: 1px solid #1d61e7;
    cursor: pointer;
}

/* Policy Login */
.scl--login-text-policy {
    /*width: 1135px;*/
    width: 1011px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f0f0f0;
}

.scl--login-text-policy p {
    font-size: 14px;
    line-height: 16px;
    /*margin-right: 12px;*/
    margin-right: 0;
    color: #f0f0f0;
    font-weight: 400;
    padding: 6px 16px;
    border-radius: 4px;
}

/*White Mode*/
.dark .scl--login-text-policy p {
    color: #171717;
}

.dark .scl--login-text-policy p:hover {
    background: #E2E7EB66;
}

.scl--login-text-policy p svg {
    margin-left: 2px;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.dark .scl--login-text-policy p svg {
    color: #171717;
}

.scl--login-text-policy p:hover {
    cursor: pointer;
    background-color: #808080;
}

.scl--login-text-policy ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.scl--login-text-policy ul li {
    padding: 0;
}

.scl--login-text-policy ul li p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: 2px;
}

.scl--login-text-policy ul li p:hover {
    background-color: #808080;
    border-radius: 2px;
}

/* Verify OTP  */

.scl--login-verify-otp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scl--login-verify-boxes {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 18px;
}

.scl--login-verify-boxes input[type="text"] {
    width: 64px;
    height: 64px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 100%;
    animation-timing-function: ease-out;
    animation-duration: 100ms;
}

/*White Mode*/
.dark .scl--login-verify-boxes input[type="text"] {
    color: #17171799;
    border: 2px solid #17171799
}

.scl--login-verify-boxes-error-border input[type='text'] {
    border: 2px solid #FB8E88
}

.scl--login-verify-boxes input[type="text"]:hover {
    border: 2px solid #5ea4e6;
    cursor: pointer;
}

.scl--login-verify-boxes-error-border input[type='text']:hover {
    border: 1px solid #8B8A8A;
    outline: 2px solid #FB8E88;
    outline-offset: 2px;
}

.scl--login-verify-boxes input[type="text"]:focus-within {
    border: 1px solid #bdbcbc;
    outline: 2px solid #0562bb;
    outline-offset: 3px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
}

.dark .scl--login-verify-boxes input[type="text"]:focus-within {
    color: #17171799;
}

.scl--login-verify-resend-code {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    gap: 5px;
}

.scl--login-verify-resend-code.invisible {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}

.scl--login-verify-resend-code span:nth-child(1) {
    color: #1a77f2;
    font-weight: 500;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0;
}

.scl--login-verify-resend-code span:nth-child(1):hover {
    text-decoration: underline;
    cursor: pointer;
}

.scl--login-verify-resend-code span:nth-child(2) {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0;
}

.dark .scl--login-verify-resend-code span:nth-child(2) {
    color: #171717;
}

.scl--login-verify-resend-code span:nth-child(2):hover {
    cursor: pointer;
}

.scl--otp-error {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fb8e88;
    opacity: 1;
    visibility: visible;
}

.scl--otp-error .visible {
    visibility: hidden;
    opacity: 0;
}

/* Loading styles */

.scl--loading-semi-transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    cursor: auto;
    pointer-events: all;
}

.scl--barloader-container {
    display: inline-block;
    position: fixed;
    top: 27px;
    left: 60px;
    width: 90%;
    height: 4px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 2px;
}

.scl--spinner-item {
    position: absolute;
    width: 239px;
    height: 100%;
    background-color: #5aabf1;
    border-radius: 2px;
    will-change: left, right;
    animation: scl-login-barloading-long 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.scl--spinner-item:nth-child(2) {
    animation: scl-login-barloading-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: 0.7s; /* ~50% of 1.4s for stagger effect */
}

@keyframes scl-login-barloading-long {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes scl-login-barloading-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}


/*Darkmode Toggle Button*/
.scl--darkmode-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}