/* Toast Messsages */

.scl--login-toast {
    position: fixed;
    top: 45px;
    right: 45px;
    width: 343px;
    height: 88px;
    background: #1B1B1BE5;
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.scl--login-toast:hover {
    /*cursor: pointer;*/
}

.scl--login-toast-message {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.scl--login-toast-svg {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scl--login-toast-svg svg {
    width: 42px;
    height: 42px;
    object-fit: contain;
    color: #00df80;
    border: 7px solid rgb(255, 255, 255, 0.09);
    border-radius: 50%;
}

/* Success = green */
.toast--success {
    background: radial-gradient(50% 50% at 40% 50%, rgba(0, 237, 81, 0.19) 0%, rgba(0, 237, 123, 0) 115%);
}

/* No-Connection = red */
.toast--no-connection {
    background: radial-gradient(50% 50% at 40% 50%, rgba(255, 0, 0, 0.2) 0%, rgba(255, 0, 0, 0) 115%);
}

/* Unseccess = red */
.toast--unsuccess {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, 0.3) 0%, rgba(255, 0, 0, 0) 115%);
}

/* New Device = blue */
.toast--new-device {
    background: radial-gradient(50% 50% at 40% 50%, rgba(0, 149, 255, 0.2) 0%, rgba(0, 149, 255, 0) 115%);
}

.scl--login-toast-title {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.scl--login-toast-title p:nth-child(1) {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    color: #ffffff;
}

.scl--login-toast-title p:nth-child(2) {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 0.4;
}

.scl--login-toast-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 99%;
    height: 3px;
    border-bottom-left-radius: 6px;
    /*border-bottom-right-radius: 6px;*/
    animation: toastCountdown 5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.toast--success.scl--login-toast-bar {
    background-color: rgba(0, 223, 128, 1)
}

.toast--no-connection.scl--login-toast-bar {
    background-color: rgba(240, 92, 66, 1)
}

.toast--unsuccess.scl--login-toast-bar {
    background: rgba(240, 66, 72, 1);
}

.toast--new-device.scl--login-toast-bar {
    background-color: rgba(5, 98, 187, 1)
}

.scl--login-toast--wide {
    width: 392px;
}

.scl--login-confirm-newdevice{
    width: 30%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.scl--login-confirm-newdevice p:nth-child(1){
    font-weight: 300;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.scl--login-confirm-newdevice span:nth-child(2){
    border: 1px solid rgba(255, 255, 255, 0.1)
}

.scl--login-confirm-newdevice p:nth-child(1):hover, .scl--login-confirm-newdevice p:nth-child(3):hover{
    color: white;
    cursor:  pointer;
}

.scl--login-confirm-newdevice p:nth-child(3){
    font-weight: 300;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}


/* Extended width for new device */
.scl--login-toast-bar--wide {
    height: 4px;
}

@keyframes toastCountdown {
    0% {
        width: 98%;
    }
    100% {
        width: 0%;
    }
}